.movieBox{
    width: 100%;
    height: 20%;
    max-width: 250px;
    max-height: 270px;
    min-width: 200px;
    min-height: 150px;
    /* overflow: hidden; */
    margin: 1%;
    box-shadow: 2px 4px 10px 5px rgb(161, 189, 206) ;
    
}
.movieBox *{
    margin: 0;
    padding: 0;
}
.movieBox img{
    width: 100%;
    height: 80%;
    max-width: 250px;
    max-height: 140px;
}

.movieBox a{
    color: black;
}
.movieName{
    background-color: black;
    color: whitesmoke;
    height: 4em;
    padding: 1px 0;
    font-size: 15px;
    text-overflow:inherit;
    word-break: break-all;    
}
